
#logo {
	position: relative;
	top: 12px;
}

#frame{ 
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	overflow: visible;
}

#big-logo {
	position: absolute;
	width: 250px;
	height: 167px;
	margin-left: -125px;
	top: -84px;
	left: 75%;
	filter: alpha(opacity=50);
    -moz-opacity:0.5;
	opacity: 0.5;
}

#plug { 
	position:absolute;
	height: 2.5em; 
	width: 100%;
	top: 0px;
	left: 0px;
	background: white; 
	padding:5px;
}

#plug-contents {
	position: relative;
	text-align: center;
}

body {
 background:#333; font-family:helvetica nueve, helvetica, arial, sans serif; overflow: hidden;
 margin: 0;
 font-size: 30px;
 width: 100%;
 height: 100%;
}
a:link, a:visited {
  color:#FF006F;
  text-decoration:none;
}

img {
	border:none;
}

#apilink:link, #apilink:visited { color:transparent; }

#rsvp-detail {
  background:#FAFAFA;
  padding: .25em .25em 0 0;
  width: 100%;
  border-radius: 3px;
  max-height: 27vh;
  font-size: 1em;
}

#rsvp-detail .rsvp {
  margin:0 0 .25em 0;
  padding:.25em 0;
  overflow:hidden;
 /* height:78px;*/
  clear:both;
  color:#000;
}

.rsvp {
  text-align:left;
}

#rsvp-detail .rsvp .time {
  color: #ed1c40;
  font-size: .8em;
}

#rsvp-detail .rsvp .member-photo {
  float:left;
  width: 115px;
  height: 78px;
  text-align: right;
  display:block;
}

span#rate {
    color: #000;
}
#rate #r {
  min-width: 50px;
  display: inline-block;
}

.rsvp .member-photo img {
  padding-right: 10px;
  padding-top: 8px;
}

#rsvp-detail .rsvp .member-info {
  margin-left: 125px;
}

.rsvp .member {
  font-weight:600;
}
.rsvp .will-mup {
  font-size:80%;
}
.rsvp .group {
  font-weight: 600;
}
.rsvp .place {
  font-size: 70%;
}


#mapid {
  height: 100vh;
}

/* |||||||||||| MARKERS FADEIN\FADEOUT |||||||||||| */

.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s; /* Firefox < 16 */
  -ms-animation: fadeout 2s; /* Internet Explorer */
  -o-animation: fadeout 2s; /* Opera < 12.1 */
  animation: fadeout 2s;
}

@keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||| */